@media (max-width: 800px) {

    main {
        max-width: 1200px;
        margin: 20px auto;
        padding: 20px;
    }

    .content {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        padding: 20px;
    }

    .dest {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .dest figure {
        background-color: white;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        margin: 0;
        padding: 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .dest figure img {
        width: 300px;
        height: auto;
        border-radius: 5px;
        margin-bottom: 10px;
    }
}