header {
    display: flex;
    /* Make header a flex container */
    flex-direction: column;
    align-items: center;
    /* Align content vertically */
    justify-content: space-evenly;
    /* Distribute content horizontally with space */
    background-color: rgb(6, 4, 77);
    color: white;
}

nav {
    width: 100%;
    background-color: black;
}

nav ul {
    display: flex;
    /* Make the unordered list a flex container */
    justify-content: space-evenly;
    /* Distribute links horizontally with space */
}

nav ul li {
    list-style: none;
    /* Remove bullet points */
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    /* Defines two columns, first 1fr (fraction), second 3fr */
    width: 100%;
}



main h2 {
    grid-column: span 2;
    width: 100%;
    background-color: rgb(6, 4, 77);
    color: white;
    text-align: center;
    margin-top: 0;
}

.card {
    display: grid;
    grid-template-rows: auto 1fr;
    margin: 1px;
    border: solid black 1px;

}

.card img {
    float: right;
    margin-left: 10px;
}