body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(6, 4, 77);
    color: white;
    padding: 0;
}

nav {
    width: 100%;
    background-color: black;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
}

nav ul li {
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
    padding: 20px;
}

.card {
    display: grid;
    grid-template-rows: auto 1fr;
    /* margin: 1px; */
    border: solid black 1px;
    /* margin-top: 3px; */
    border-radius: 5px;
    padding: 20px;
}

.card img {
    float: right;
    margin-left: 10px;
}

.country-name {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

.resources ul {
    list-style: none;
    padding: 0;
}

.resources li {
    margin-bottom: 10px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(6, 4, 77);
    color: white;
    padding: 0;
}

main h2 {
    grid-column: span 2;
    /* width: 100%; */
    background-color: rgb(6, 4, 77);
    color: white;
    text-align: center;
    margin-top: 0;
    padding: 5px;
}

main h3 {
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    text-align: center;
}

#lastModified {
    color: yellow;
}