:root {
    --myblue: blue;
    --myyellow: rgb(248, 248, 13);
    --myred: rgb(247, 6, 6);
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--myred);
    display: flex;
    justify-content: center;
    width: 100%;
}

header h1 {
    color: var(--myyellow);
    width: 100%;
    background-color: var(--myblue);
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    font-size: 20px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--myblue);
    color: var(--myyellow);
    padding: 0;
}

.hero img {
    width: 100%;
    height: 100%;
}

.label,
.values {
    /* Other styles... */
    list-style: none;
    margin-top: 2px;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

.container h2 {
    text-align: center;
    margin-bottom: 0px;
}

.data,
.weather {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    justify-items: center;
}

.label {
    justify-self: end;
    text-align: right;
    font-weight: bold;
}

.values {
    justify-self: start;
    text-align: left;
    padding-left: 10px;
}

img {
    width: 100%;
    height: auto;
}

.weatherico {
    display: block;
    width: auto;
    margin: 0 auto;
}